@use '@/styles' as *;

.radioFilterContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterTitle {
  color: $color-gray-800;
  @include text-xl-bold;
}

.radioItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.customRadio {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid $color-gray-300;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.radioSelected {
  border: 1px solid $color-gray-300;
  background-color: $color-gray-100;
}

.radioDot {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: $color-primary-purple;
}

.labelText {
  color: $color-gray-800;
  @include text-lg-medium;
}

.labelSelected {
  color: $color-primary-purple;
  @include text-lg-medium;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
