@use '@/styles' as *;

.modalWrapper {
  padding: 32px 16px 24px 16px;
  gap: 40px;
}

.content {
  @include text-xl-bold;
  color: $color-gray-800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  gap: 8px;
}

.cancleBtn {
  flex: 1;
}

.deleteBtn {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .content {
    @include text-2lg-bold;
  }
}
