@use '@/styles' as *;

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.label {
  color: $color-gray-800;
  @include text-lg-medium;
}

.input {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid $color-gray-300;
  border-radius: 16px;
  background-color: $color-white;
  transition: all 0.2s ease;
  @include text-lg-regular;

  &::placeholder {
    color: $color-gray-500;
  }

  &:focus {
    outline: none;
    border-color: $color-primary-purple;
    box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.1);
  }

  &.error {
    border-color: $color-error-red;

    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 107, 107, 0.1);
    }
  }

  &:disabled {
    background-color: $color-gray-300;
    cursor: not-allowed;
  }
}

.errorText {
  font-size: $font-size-md;
  color: $color-error-red;
  margin: 0;
  padding-left: 4px;
}

// 모바일 반응형
@media screen and (max-width: 767px) {
  .input {
    padding: 9px 20px;
    border-radius: 12px;
    @include text-md-regular;
  }
}
