@use '@/styles' as *;

.searchContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 800px; // 디자인에 맞게 추후 조정

  &.fullWidth {
    max-width: 100%;
  }
}

.searchIcon {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 20px;
  color: $color-gray-300;
  pointer-events: none; // 클릭 이벤트가 input으로 전달되도록
}

.searchInput {
  width: 100%;
  height: 48px;
  padding-left: 55px;
  padding-right: 20px;
  border: 1px solid $color-gray-300;
  border-radius: 50px;
  background-color: $color-white;
  outline: none;
  transition: box-shadow 0.2s;
  @include text-md-regular;

  &::placeholder {
    color: $color-gray-500;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
  }

  &:disabled {
    background-color: $color-gray-300;
    cursor: not-allowed;
  }
}

// 모바일 반응형
@media (max-width: 375px) {
  // 모바일 포인트는 임시! (협의 후 수정 예정)
  .searchInput {
    height: 38px;
  }
}
