.starRatingList {
  display: flex;
}

.star {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: default;

  &.clickable {
    cursor: pointer;
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  object-fit: contain;
  opacity: 1;
}

.icon + .icon {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.active {
  opacity: 1 !important;
}
