@use '@/styles' as *;

.textareaContainer {
  width: 100%;
  height: 120px; // 고정 높이
  padding: 14px 20px;
  border-radius: 16px;
  transition: all 0.2s;
  overflow: hidden;
  border: 1px solid $color-gray-300;
  background-color: $color-white;

  &:focus-within {
    border-color: $color-primary-purple; // 포커스 시 보라색
  }
}

.textarea {
  width: 100%;
  height: 92px;
  max-height: 92px;
  background: $color-white;
  color: $color-gray-800;
  resize: none; // 크기 조절 불가
  outline: none;
  overflow-y: scroll;
  @include text-lg-regular;

  &::placeholder {
    color: $color-gray-500;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $color-white;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-gray-300;
    border-radius: 4px;

    &:hover {
      background: $color-gray-500;
    }
  }
}
