@use '@/styles' as *;

.scaleWrapper {
  position: relative;
  width: 100%;
  height: 40px;
  user-select: none;
}

.track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  width: 100%;
  background-color: $color-gray-100;
  border-radius: 4px;
  pointer-events: none;
}

.rangeFill {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  background-color: $color-primary-purple;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1;
}

.thumb,
.rangeThumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid $color-gray-300;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.15s ease;

  &:hover {
    transform: translate(-50%, -50%) scale(1.15);
  }

  &:active {
    transform: translate(-50%, -50%) scale(1.25);
  }

  &.disabled {
    cursor: default;

    &:hover,
    &:active {
      transform: translate(-50%, -50%);
    }
  }
}

.thumb {
  background-color: $color-primary-purple;
}
.rangeThumb {
  background-color: #fff;
}

.thumbWrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.thumbLabel {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  @include text-lg-medium;
  color: $color-primary-purple;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
}
