@use '@/styles' as *;

// 별점, 와인설명
.starDesc {
  strong {
    font-size: 36px;
    font-weight: 900;
    color: $color-gray-800;
  }
  .text {
    margin-top: 5px;
    color: $color-gray-500;
    @include text-xs-regular;
  }

  .starArea {
    margin-top: 5px;
    button {
      width: 18px;
      height: 18px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 추천 와인
.recommend {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
  width: 232px;
  height: 185px;
  border-radius: 12px;
  padding: 24px 30px 0;
  background-color: $color-white;

  .wine {
    img {
      width: 44px;
    }
  }
}
