@use '@/styles' as *;

.modalWrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px 20px;
}

.header {
  @include text-2xl-bold;
  color: $color-gray-800;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 10px;
}

.wineIntroWrapper {
  display: flex;
  gap: 16px;
}

.iconWrapper {
  padding: 7px;
  background-color: $color-gray-100;
  border-radius: 8px;
}

.nameAndStarWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.name {
  @include text-2lg-semibold;
  color: $color-gray-800;
}

.subTitle {
  color: $color-gray-800;
  @include text-xl-bold;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: flex;
}

.addBtn {
  flex: 1;
}
