// Font Weight Tokens
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Font Size Tokens
$font-size-3xl: 32px;
$font-size-2xl: 24px;
$font-size-xl: 20px;
$font-size-2lg: 18px;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 13px;
$font-size-xs: 12px;

// Font Line height Tokens
$line-height-3xl: 42px;
$line-height-2xl: 32px;
$line-height-xl: 32px;
$line-height-2lg: 26px;
$line-height-lg: 26px;
$line-height-md: 24px;
$line-height-sm: 22px;
$line-height-xs-semibold: 20px;
$line-height-xs: 18px;

//Color Tokens
$color-black: #101318;
$color-white: #ffffff;
$color-gray-100: #f2f4f8;
$color-gray-300: #cfdbea;
$color-gray-500: #9facbd;
$color-gray-800: #2d3034;
$color-primary-purple: #6a42db;
$color-secondary-purple: #f1edfc;
$color-error-red: #f96060;
