* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

/* home, 로그인, 회원가입 */
.homeWrap,
.authWrap {
  min-height: 100svh;
  background-color: #f2f4f8;
}

/* 그 이외의 페이지 */
.contentWrap {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
