.wineSlider {
  :global {
    .slick-prev {
      left: 0;
      z-index: 30;
      display: none;
      width: 48px;
      height: 48px;
      background: url('/icon/ico_wineslider_prev.png') no-repeat;
      background-size: 100%;
      &::before {
        content: '';
      }
      &.slick-disabled {
        display: none !important;
      }
    }

    .slick-next {
      right: 0;
      z-index: 30;
      width: 48px;
      height: 48px;
      background: url('/icon/ico_wineslider_next.png') no-repeat;
      background-size: 100%;
      &::before {
        content: '';
      }
      &.slick-disabled {
        display: none !important;
      }
    }
  }
}
