// 추후 수정될 수 있습니다.
@use '@/styles' as *;

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 24px;
}

.modal {
  background-color: $color-white;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  max-height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
}

.closeBtn {
  position: absolute;
  right: 24px;
  top: 24px;
}

.content {
  overflow-y: auto;
  flex: 1;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $color-white;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-gray-300;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $color-gray-500;
  }
}

.footer {
  flex-shrink: 0;
}
