@use '@/styles' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 24px;
  width: 100%;
  max-width: 1140px;
  padding: 0 60px;
  background-color: $color-black;
  height: 70px;
  border-radius: 16px;
  z-index: 800;

  h1 {
    width: 52px;

    a {
      display: block;
      @include text-lg-medium;
      &:hover img {
        filter: brightness(0) invert(41%) sepia(56%) saturate(554%) hue-rotate(219deg)
          brightness(0.95);
      }
    }

    img {
      transition: filter 0.3s;
    }
  }

  .list {
    display: flex;
    gap: 20px;

    * {
      color: $color-white;
      transition: color 0.5s;
      &:hover {
        color: $color-primary-purple;
      }
    }
  }

  // dropdown 위치
  > div {
    > div {
      > div {
        top: 100%;
      }
    }
  }
}

/* 반응형 */
/* 테블릿 */
@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 40px);
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .header {
    padding: 0 20px;
    height: 50px;
    width: calc(100% - 32px);

    // dropdown
    > div {
      > div {
        button {
          > div {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
    }
  }
}
