@use '@/styles' as *;
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  @include text-2lg-regular;
  color: $color-gray-500;
  padding-top: 24px;
  padding-bottom: 48px;
}

.button {
  padding: 11px 48px;
}
