@use '@/styles' as *;

.chip {
  padding: 10px 18px;
  border-radius: 100px;
  display: inline-block;
  border: 1px solid $color-gray-300;
  color: $color-gray-800;
  @include text-md-medium;
  transition: all 0.3s;
  background-color: $color-white;

  &:hover {
    color: $color-primary-purple;
    border-color: $color-primary-purple;
    background-color: $color-white;
  }

  &.selected {
    color: $color-white;
    background-color: $color-primary-purple;
    border-color: $color-primary-purple;
  }
}
