@use '@/styles' as *;

.selectbox {
  > div {
    width: 100%;
    > button {
      position: relative;
      width: 100%;
      height: 48px;
      padding: 0 20px;
      border: 1px solid $color-gray-300;
      border-radius: 16px;
      color: $color-gray-500;
      text-align: left;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      background-color: $color-white;
      transition: all 0.2s;
      line-height: 26px;
      @include text-lg-regular;

      &:focus-within {
        border-color: $color-primary-purple;
        box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.1);

        img {
          transform: rotate(180deg);
        }
      }

      img {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -12px;
        transition: 0.2s transform;
      }
    }
  }
}

.menu {
  width: 100%;
  > div {
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.selected {
  color: $color-gray-800;
}
