@use '@/styles' as *;

.wineDetail {
  margin-top: 62px;
  padding-bottom: 100px;

  .content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    .reviewList {
      width: calc(100% - 340px);
      h2 {
        color: $color-gray-800;
        @include text-xl-bold;
      }

      .list {
        margin-top: 22px;
        > li + li {
          margin-top: 20px;
        }
      }
    }

    .reviewScore {
      width: 280px;
      .starArea {
        display: flex;
        align-items: center;
        gap: 20px;
        > div {
          button {
            width: 24px;
            height: 24px;
          }
          span {
            display: block;
            margin-top: 5px;
            font-size: 14px;
            color: $color-gray-500;
          }
        }
      }
      strong {
        font-size: 54px;
        font-weight: 800;
        color: $color-gray-800;
      }

      .ratingArea {
        margin: 20px 0 30px;
      }
    }
  }
}
